<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    /*shape-rendering: geometricPrecision;*/
}

/*.x.axis path {
  display: none;
}*/

.square {
    stroke-width: 0;
    shape-rendering: crispEdges;
    /*opacity: 0.5;*/
}

</style>
<body>
<script src="http://d3js.org/d3.v3.js"></script>
<script>

var margin = {top: 20, right: 20, bottom: 30, left: 150},
    //width = 960 - margin.left - margin.right,
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

//var parseDate = d3.time.format("%Y-%m-%d").parse; // for dates like "2014-01-01"
//var parseDate = d3.time.format("%Y-%m-%dT00:00:00Z").parse;  // for dates like "2014-01-01T00:00:00Z"

var colours = {
    "NHTEOIpink" : "#F9BEF1",
    "HRgreen"    : "#167F59",
    "DCyellow"   : "#F0CF56",
    "BTBtan"     : "#C5BCB6",
    "OCTAblue"   : "#228CE7",
    "NBred"      : "#D12C2D",
};
var band_colours = {
    "Jay"      : colours.NHTEOIpink,
    "Patrick"  : colours.HRgreen,
    "Andrew"   : colours.BTBtan,
    "Chris"    : colours.OCTAblue,
    "Multiple" : colours.DCyellow,
};

var x = d3.scale.linear()
    .range([0, width]);

/*var y = d3.time.scale()
    .range([height, 0]);*/

var y = d3.scale.ordinal()
    .rangeBands([0, height]);

var all_LPs;
d3.json("{% url "get_LPs" %}", function(error, data) {
    if (error) console.log(error);
    all_LPs = data;
    y.domain(all_LPs.map(function(a) { return a.title; }));
});
//var x = d3.scale.ordinal()
//    .domain(["A", "B", "C", "D", "E", "F"])
//    .rangeBands([0, width]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("top");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var track_data;

d3.json("{% url "get_tracks" %}", function(error, data) {
    /*data.forEach(function(d) {
        d.release__release_date = parseDate(d.release__release_date);
    });*/
    if (error) console.log(error);

    track_data = data;

    var xlims = d3.extent(data, function(d) { return d.track_number; });
    xlims[0] -= 1;
    x.domain(xlims);
    //var ylims = d3.extent(data, function(d) { return d.release__release_date; });
    //ylims[1] = d3.time.year.offset(ylims[1], 1);
    //y.domain([ylims[1], ylims[0]])

    var square_width = x(1) - x(0);
    var square_height = square_width;
    svg.selectAll(".square")
        .data(track_data)
      .enter().append("rect")
        .attr("class", "square")
        .attr("width", square_width)
        .attr("height", square_height)
        .attr("x", function(d) { return x(d.track_number - 1); })
        //.attr("y", function(d) { return y(d.release__release_date); })
        .attr("y", function(d) {
            return y(d.release__title) + (y.rangeBand()-square_height)/2;
        })
        .on("mouseover", function(d) {
            d3.select(this).attr("opacity", 0.5);
            console.log(d.song__title);
        })
        .on("mouseout", function() {
            d3.select(this).attr("opacity", 1);
        })
        .style("fill", function(d) {
            if (d.writers.length == 1)
                return band_colours[d.writers[0]];
            else
                return band_colours["Multiple"];
        });

    var legend = svg.selectAll(".legend")
        .data(Object.keys(band_colours))
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) {
            return "translate(0," + (10 + i * 20) + ")";
        });

    legend.append("rect")
        .attr("x", width - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", function(d) { return band_colours[d]; });

    legend.append("text")
        .attr("x", width - 24)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")
        .text(function(d) { return d; });

    svg.append("g")
        .attr("class", "x axis")
        //.attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
});

</script>
</body>
</html>
